.profilePic{
  padding: 10%;
  border-radius: 100px;
}

.profile{
  margin: 3%;
}
.item{
  font-size: 15px;
}

#detailProfile{
  width: 20%;
  position: fixed;
  font-size: 15px;
}

#navDetail{
  width: 75%;
  margin: 0;
  float: right;
}

.userProfile{
  float: right;
  width: 75%;
  margin-bottom: 20px;
}

.emailProfile{
  color: black;
}

@media only screen and (max-width: 750px){
    #navDetail{
        width: 100%;
        display: none;
    }
    #detailProfile{
      width: 100%;
      position: fixed;
    }
    .userProfile{
      width: 100%;
    }
 }
