body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#footer {
    box-shadow: 0px 20px 15px #5f5d54, 0px 0px 7px #888;
    background-color: white;
    color: #222222;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
