@font-face {

    font-family: 'myKeepCalm' ;
    src: url('KeepCalm-Medium.ttf');

}

.inboxCard{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    height: 550px;
    background-color: #f8f8f8;
}

.inboxCardContainer{
    display: flex;
}

#headerIcon{
    color: #4DB6AC;
}

#headerText{
    margin-left: 10px;
    font-size: 20px;
    color: #4DB6AC;
    padding-top: 4px;
    font-family: 'myKeepCalm', sans-serif;
}

#inboxProfileContainer {
    padding-top: 10px;
    width: 100%;
    float: left;
    display: inline-block;
}

#inboxCardContainerRight{
    width: 25%;
}

#inboxCardContainerLeft{
    width: 100%;
}

#headerContainerInbox{
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 5px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 3px 6px -6px black;
    -moz-box-shadow: 0 3px 6px -6px black;
    box-shadow: 0 3px 6px -6px black;
}

#inboxMessageContainer {
    float: left;
    width: 100%;
}

#inboxChatContainer {
    margin-left: 10px;
    height: 450px;
}

#inboxBoxAreaContainer {
    margin-left: 10px;
}

#isEmptyChat{
    text-align: center;
    width: 100%;
    height: 100%;
}

/*#isEmptyChat img{*/
    /*margin-top: 150px;*/
    /*width: 560px;*/
/*}*/

#isEmptyChat p{
    color: #9AD6D0;
    font-size: 50px;
    font-family: 'myHeaderFont', sans-serif;
    font-style: italic;
    margin-top: 210px;
    text-align: center;
}