.Card_Container {
    margin-top: 20%;
    margin-bottom: 10%
}

.Submit_Button {
    margin-top: 3%;
}

#headerChangePasssword{
    font-family: 'myTextFontMedium', sans-serif;
}

#formChangePassword{
    font-family: 'myTextFont', sans-serif;
}