.ui.comments .comment>.avatar~.content {
    margin-left: 1.5em;
}

.ui.comments .comment>.content {
    display: inline-table;
}

#commentAvatar{
    height: 40px;
    width: 40px;
}

#commentText{
    word-wrap: break-word;
    white-space: pre-wrap;
}

#trashIcon {
    float: right;
    cursor: pointer;
    opacity: 0.5;
}

#trashIcon:hover {
    color: #f70010;
}

#trashIcon:active {
    position: relative;
    top: 1px;
}

#commentAvatar{
    width: 40px;
    height: 40px;
}

.ui.comments .comment .avatar {
    display: block;
    width: 2.5em;
    height: auto;
    float: left;
    margin: 0 0 0;
}
