@font-face {

  font-family: 'myHeaderFont' ;
  src: url('Shink Font by Rifki (7NTypes).otf');

}

#logoText{
  margin: -5px;
  font-size: 30px;
  font-family: 'myHeaderFont', sans-serif;
}

.navProfile {
  display: inline-block;
  font-size: 15px;
  color: #2b2b2b;
  font-family: 'myTextFont', sans-serif;
}

#navProfileContainer{
  font-family: 'myTextFontMedium', sans-serif;
  margin-top: 8px;
}

#ProfilePicture{
  width: 2.5em;
  height: 2.5em;
}

#ProfilePicture img{
  width: 2.5em;
  height: 2.5em;
}

#profileContainer{
  padding-top: 7px;
}

#caretColor{
  color: #6f6f6f;
}

#ProfileName:hover {
  color: black;
  font-size: 15px;
  text-shadow: 0.7px 0.7px rgba(60, 60, 60, 0.75);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #2b2b2b;
}

.teal.lighten-2 {
    background-color: grey;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonContainer{
  margin-top: 13px;
}

#cancelIcon{
  color: #6f6f6f;
  opacity: 0.9;

}

#cancelIcon:hover{
  color: #2b2b2b;
}

#cancelIcon:active {
  position: relative;
  top: 1px;
}

#searchIcon{
  color: #6f6f6f;
  opacity: 0.9;

}

#searchIcon:hover{
  color: #2b2b2b;
}

#searchIcon:active {
  position: relative;
  top: 1px;
}


#notificationIcon{
  color: #6f6f6f;
  opacity: 0.9;
  margin-left: 15px;
  margin-right: 15px;
}

#notificationIcon:hover{
  color: #2b2b2b;
  cursor: pointer;
}

#notificationIcon:active {
  position: absolute;
  top: 1px;
}

#namaFitur{
  color: #6E6E6E;
  font-family: 'myHeaderFont', sans-serif;
  text-align: center;
  width: 1090px;
  font-size: 35px;
  margin-bottom: 0;
}

#namaFiturDiHome{
  margin-left: 475px;
  color: #6E6E6E;
  font-family: 'myHeaderFont', sans-serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0;
}
