
.Tweet_Container{
  margin-top: 3px;
}

.Tweet_Container:hover{
  background: rgba(255, 255, 255, 0.6);
}

.Tweet{
  padding: 10px;
}

.Tweet-Content{
  display : inline-block;
}

#recycleIcon{
  float: right;
  cursor: pointer;
  opacity: 0.5;
}
