.Card_Container {
    margin-top: 20%;
    margin-bottom: 10%
}

.Submit_Button {
    margin-top: 3%;
}

input{
    width:25%;
    margin-top: 15px;
}

#cover{
    height: 200px;
    width: 200px;
}

#headerEditProfile{
    font-family: 'myTextFontMedium', sans-serif;
}

#formEditProfile{
    font-family: 'myTextFont', sans-serif;
}
