#SearchBoxContainer{
    margin-right: 4%;
    width: 300px;
}

.ui.input {
    width: 150%;
    font-size: 1em;
}

.ui.search .prompt {
    border-radius: 10px;
}

.ui.search {
    margin-right: 35%;
}

.ui.search>.results {
    width: 150%;
}