#SearchBoxContainer{
    margin-top: 4%;
}

.ui.input {
    width: 100%;
    font-size: 1em;
}

.ui.search .prompt {
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}


.ui.search>.results {
    width: 100%;
}