#Comment_Container {
    display: flex;
    margin-top: 1%;
}

#limiter-Comment{
    margin-right: 38px;
    position: absolute;
    top: 53%;
    right: 2%;
    transform: translateY(-55%);
    font-family: "Roboto", sans-serif;
}

#limiter-Comment-Circular{
    width: 22px;
    position: absolute;
    top: 57%;
    right: 4%;
    transform: translateY(-55%);
    font-family: "Roboto", sans-serif;
}

#boxComment {
    width: 425px;
    display: inline-block;
}

#avatarBoxComment{
    width: 2.5em;
    height: 4.0em;
}

#profilePicComment{
    margin-top: 10px;
}

#avatarBoxComment img{
    width: 2.5em;
    height: 2.5em;
}

.ui.comments {
    margin: 0 0;
    max-width: 650px;
}

/*#commentsContainer{*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 0.2px;*/
    /*border-bottom-color: #828282;*/
/*}*/