body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-image: url("../../login-bg.png");
    background-size: 100%;
}

.navbarFixed{
  overflow: hidden;
  background-color: grey;
  position: fixed;
  top: 0;
}

.container-content {
    margin-top: 1%;
}

img.LoadingGif{
    height: 400px;
    width: 500px;
}
